footer {
    position: fixed;
    min-width: 100vw;
    bottom: 0;
    background: linear-gradient(90deg, rgb(16, 186, 81), rgb(160, 250, 14));
    color: white;
    font: bold;
    text-align: center;
    padding: 1.5rem;
    z-index: 10;
}