footer {
    // position: fixed;
    // bottom: 0;
    // min-width: 100vw;
    // background: linear-gradient(90deg, rgb(16, 186, 81), rgb(160, 250, 14));
    background: radial-gradient(circle at 20% 50%,
            #312e81,
            #010715 70%);
    color: white;
    font: bold;
    text-align: center;
    padding: 1rem 0;
    // z-index: 10;
}