<app-fancy-drawer #addEmployeeDrawer position="end">
    <div class="main sidebar" sidebar>
        <app-add-employee></app-add-employee>
    </div>
    <div class="main" *ngIf="employees; else noEmployees">
        <div class="heading">
            <h2>All Employees</h2>
            <!-- <app-fancy-button routerLink="/employee/add">Add employee</app-fancy-button> -->
            <!-- <app-fancy-button (click)="addEmployeeDrawer.opened = !addEmployeeDrawer.opened">Add
                employee
            </app-fancy-button> -->
            <div class="d-flex right flex-column gap-2">
                <button class="btn btn-outline-primary" (click)="addEmployeeDrawer.opened = !addEmployeeDrawer.opened">Add
                    Employee
                </button>
                <button routerLink="/employee/paged-list" class="btn btn-outline-success">Paged-List</button>
            </div>
        </div>
        <ul class="list list-group">
            <li class="" *ngFor="let emp of employees">
                <!-- <app-employee-card [employee]="emp"></app-employee-card> -->
                <app-employee-card class="list-group-item list-group-item-action" [employee]="emp"
                    (deletedId)="handleDelete($event)">
                </app-employee-card>
            </li>
        </ul>
    </div>
    <ng-template #noEmployees>
        <div class="main">
            <h4>
                No Employees present
            </h4>
        </div>
    </ng-template>
</app-fancy-drawer>