:host {
    display: block;
    height: 100%;
    min-height: 0;
}

mat-drawer-container {
    height: 100%;
    min-height: 0;
}

mat-drawer-content {
    overflow: auto;
}

mat-drawer{
    width: fit-content;
}