<form class="main" #loginForm="ngForm" (ngSubmit)="handleSubmit(loginForm)">
    <!-- <div class="box">
        <label for="username">Enter Username</label><br>
        <input type="text" required [(ngModel)]="username" maxlength="40" name="username" id="username">
    </div> -->
    <!-- <app-fancy-input label="Enter Username" name="username" required ngModel #username="ngModel"></app-fancy-input> -->
    <mat-form-field class="mt-4 w-50" [matTooltip]="username.touched && username.invalid?'Username is required':''"
        matTooltipPosition="right">
        <mat-label>Username</mat-label>
        <input matInput type="text" required ngModel #username="ngModel" required name="username" id="username">
        <mat-error *ngIf="username.touched && username.invalid">
            Username is required
        </mat-error>
    </mat-form-field>
    <!-- <div class="box">
        <label for="password">Enter Password</label><br>
        <input type="password" required ngModel required name="password" id="password">
    </div> -->
    <!-- <app-fancy-input required type="password" ngModel #password="ngModel" appPasswordValidator name="password"
    id="password" label="Password"></app-fancy-input> -->
    <mat-form-field class="">
        <mat-label>Password</mat-label>
        <input matInput type="password" required ngModel #password="ngModel" required name="password" id="password">
        <mat-error *ngIf="password.touched && password.invalid">
            Password is required
        </mat-error>
    </mat-form-field>
    <div class="box">
        <!-- <input [disabled]="loginForm.invalid" [ngClass]="loginForm.invalid?'btn-disabled':'btn-primary'" type="submit"
            value="Login"> -->
        <button mat-stroked-button [disabled]="loginForm.invalid"
            [ngClass]="loginForm.invalid?'btn-disabled':'btn-primary'">Register</button>
    </div>

</form>