<div class="confirm-dialog border border-2 border-black border-rounded-lg">
    <button class="close-btn btn btn-outline-danger p-0" mat-dialog-close matTooltip="Close"
        matTooltipPosition="left"><img src="./assets/close.svg" alt="close"></button>
    <h4 class="title" mat-dialog-title align="center">{{data.title}}</h4>
    <mat-dialog-content class="content p-0">
        <span>
            {{data.content}}
        </span>
        <mat-form-field *ngIf="data.remarkRequired" class="remark-field">
            <mat-label>Remark</mat-label>
            <input type="text" name="remark" [(ngModel)]="remark" matInput>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="center" class="btns">
        <button class="btn btn-outline-primary" [mat-dialog-close]="{action:true,remark:remark}">Confirm</button>
        <button class="btn btn-outline-danger border border-1 border-danger"
            [mat-dialog-close]="{remark:remark}">Cancel</button>
    </mat-dialog-actions>
</div>