/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import "@angular/material/prebuilt-themes/indigo-pink.css";
* {
    margin: 0;
    padding: 0;
    // font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
}

.material-icons{
    font-family: 'Material Icons' !important;
}

body {
    // background: linear-gradient(45deg, white, purple);
    background: rgb(184, 195, 255);
}